*{
    font-family: -apple-system;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.dropdown-menu {
    display: none; 
    position: absolute;
    top: 11%;
    left: 41%;
    background-color: #444;
    border-radius: 5px;
}


.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #555;
}
