header {
  display: flex;
  background-color: #232121;
  margin-bottom: -15px;
  height: 80px;
  margin-left: 200px;
  margin-right: 200px;
}

body {
  background-color: #252222;
}

.logo {
  width: 14%;
  margin-left: 60px;
}

.notifikasi-h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  color: #ffc107;
  margin-top: 17px;
}

.navbar-awal {
  margin-right: 100px;
}

.navbar-awal li {
  color: #ffc107;
  list-style-type: none;
  font-size: 40px;
}

.navbar-awal div li a {
  text-decoration: none;
  color: #ffc107;
}
.ul-awal ul {
  display: flex;
  gap: 50px;
  margin-top: -1px;
  font-size: 20px;
}

.ul-awal div li i {
  font-size: xx-large;
}

.notifikasi-search input {
  padding-left: 20px;
  margin-top: 13px;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  margin-left: 20px;
  background-color: #2c2c2c;
  color: #ddd;
}

.notifikasi-search :placeholder-shown {
  padding-left: 20px;
  font-size: 20px;
  background-color: #2c2c2c;
}

.notifikasi-user i {
  color: #ffc107;
  font-size: xx-large;
}

.notifikasi-user {
  /* border: 2px solid white; */
  right: 100px;
  top: 100px;
  margin-top: 18px;
  margin-left: 45px;
}

.notifikasi-hr hr {
  border: 2px solid white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffcc00;
  min-width: 100px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown-content a {
  color: #000;
  padding-left: 70px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #333;
  color: #ffcc00;
}

.dropdown-content a:active {
  background-color: #555;
  color: #ffcc00;
}
